# deps
node_modules/

# envs
.env
.env.*

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pids
*.pid
*.pid.lock
*.seed

# package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# optional npm cache directory
.npm/

# cursor
.cursor/